@page
@model IndexModel
@{
    ViewData["Title"] = "Agenda do Forró";
}

<div class="page-header">
    <h3></h3>
</div>
<div class="col-md-12">
    <div id="calendar"></div>
</div>



@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {

            // page is now ready, initialize the calendar...

            $('#calendar').fullCalendar({
                header: {
                    left: 'title',
                    right: 'prev,next,today',
                    center: ''
                },
                footer: {
                    center: 'month,agendaWeek,agendaDay,listMonth'
                },
                defaultDate: '2017-12-12',
                locale: "pt-br",
                buttonIcons: true, // show the prev/next text
                weekNumbers: false,
                navLinks: true, // can click day/week names to navigate views
                editable: false,
                googleCalendarApiKey: 'AIzaSyCBs8jW6L04rDYCKkjZw5w72a2XF6FPoAw',
                events: {
                    googleCalendarId: '11klfua8cphod2otnvdatr624s@group.calendar.google.com'
                }
            })
        });
    </script>
}
